<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

 <div class="login">

	<h1>Natural Language Processing</h1>

   <head>
      <title>HTML img Tag</title>
   </head>

 <!-- </form action = "/summarizer" method = "POST"> -->
 <!-- action="{{ url_for('summarizer')}}" prob not neededd but double check-->
 <!-- {% if message %}
 <p> class = "message" > {{message | safe}} </p>

 {% endif %} -->
 <form action="{{ url_for('summarizer')}}" method="post">

    <div id="button"><a type = "submit"  href="{{ url_for('summarizer') }}" style= "text-decoration:none;" class="btn btn-primary btn-block btn-large"> Text Summarizer </a></div>
<p> </p>
<form action="{{ url_for('ner')}}" method="post">


    <div id="button"><a type = "submit"  href="{{ url_for('ner') }}" style= "text-decoration:none;" class="btn btn-primary btn-block btn-large"> Named Entity Recognition </a></div>



   <p> <sub> © vatsalp.com </sub> </p>

 </div>


</body>
</html>
