<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<style type="text/css">

    input {
        height: auto;
        /* background-color: white */
    }
</style>

</head>

<body>

 <div class="login">

	<h1>Named Entity Recognition</h1>

   <head>
      <title>HTML img Tag</title>
   </head>
   <p> Given 2 pieces of text, this will determine the similarity between the two contents</p>
   <p> Enter your text below : </p>


    <form action="{{ url_for('predict_ner')}}" method="post">
      <textarea type="textarea" name="string1" placeholder="Enter your text here." rows ="8" cols = "59" required="required"> </textarea>
    	<textarea type="textarea" name="string2" placeholder="Enter your text here." required="required" rows ="8" cols = "59"> </textarea>

        <button type="submit" class="btn btn-primary btn-block btn-large">Similary</button>
    </form>

   <br>
   {{ prediction_text }}

   <p> <sub> © vatsalp.com </sub> </p>

 </div>


</body>
</html>
