<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<style type="text/css">
/*
  This is where you can add all your styling for each html <component>.
  The styling on the input element will apply to all inputs. If you want
  to apply to specific input, use classes or ids.
*/
    input {
        height: auto;
        /* background-color: white */
    }
</style>

</head>

<body>

 <div class="login">

	<h1>Text Summarizer</h1>

   <head>
      <title>HTML img Tag</title>
   </head>
   <p> Given an input text the model will summarize it into a few sentence and display the output</p>
      <p> Enter your sentence below : </p>

    {% if message %}
    <p class = "message" > {{message | safe}} </p>

    {% endif %}


    <form action="{{ url_for('predict')}}" method="post">
      <input type="number" name="sentence_count" placeholder="Summary Sentence Count" height="auto" required="required" min = "1" max = "10000"/>
    	<textarea type="textarea" name="Body" placeholder="Enter your text here." required="required" rows ="20" cols = "59"> </textarea>

        <button type="submit" class="btn btn-primary btn-block btn-large">Summarize</button>
    </form>

   <br>
   {{ prediction_text }}

   <p> <sub> © vatsalp.com </sub> </p>

 </div>


</body>
</html>
